<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="dao.EquiposMapper">
   
    <resultMap id="EquiposMap" type="models.Equipos">
        <id column="id_equipo" property="idEquipo"/>
        <result column="nombre" property="nombre"/>
        <result column="descripcion" property="descripcion"/>
    </resultMap>
   
    <select id="listarEquipos" resultMap="EquiposMap">
       			SELECT 
    id_equipo,
    nombre,
    descripcion
FROM equipos
WHERE estado_auditoria = 1
ORDER BY id_equipo ASC;
    </select>
    
	    <select id="buscarPorId" parameterType="int" resultMap="EquiposMap">
		SELECT id_equipo, nombre, descripcion FROM equipos
		WHERE id_equipo = #{idEquipo}
	</select>
	
	<update id="actualizarEquipo" parameterType="models.Equipos">
		UPDATE equipos
		SET nombre = #{nombre}, descripcion = #{descripcion}
		WHERE id_equipo = #{idEquipo}
	</update>
	
	<update id="eliminarLogico" parameterType="int">
		UPDATE equipos
		SET estado_auditoria = 0
		WHERE id_equipo = #{idEquipo}
	</update>
	
	<insert id="agregarEquipo" parameterType="models.Equipos">
    INSERT INTO equipos (nombre, descripcion)
    VALUES (#{nombre}, #{descripcion});
	</insert>
</mapper>