<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="dao.UsuariosEquiposMapper">

    <resultMap id="UsuariosEquiposMap" type="models.UsuariosEquipos">
    <result column="idEquipo" property="idEquipo"/>
    <result column="Equipo" property="equipo"/>
    <result column="Integrantes" property="integrantes"/>
</resultMap>

    <select id="listarUsuariosEquipos" resultMap="UsuariosEquiposMap">
		       SELECT 
        E.ID_EQUIPO AS "idEquipo",  
        E.NOMBRE AS "Equipo",
        STRING_AGG(CONCAT(U.NOMBRE, ' ', U.APELLIDO_PATERNO, ' ', U.APELLIDO_MATERNO), '  |  ') AS "Integrantes"
    FROM 
        USUARIOSEQUIPOS US
        INNER JOIN EQUIPOS E ON US.ID_EQUIPO = E.ID_EQUIPO
        INNER JOIN USUARIOS U ON US.ID_USUARIO = U.ID_USUARIO
    WHERE US.ESTADO_AUDITORIA = 1
    GROUP BY E.ID_EQUIPO, E.NOMBRE;
    </select>

</mapper>